<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <img alt="logo" class="main-image" src="./assets/VATextBLACK.png"/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2 class="mi-blurb">We help to set your fitness goals and map out the best plan for you to achieve them.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img alt="hoodie" src="./assets/PTXTND_edited.webp"/>
    </div>
    <div class="col-md-6">
      <img alt="hoodie" src="./assets/online PT_edited.webp"/>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="blurb2">TRAIN WITH VALIANT AESTHETICS</h1>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2>If you're serious about your training, honest enough to follow the plan and willing to work hard for results.
        then look no further!</h2>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="row">
    <div class="col-md-6">
      <button [routerLink]="['/personal-training']" color="primary" mat-stroked-button>1-2-1 Personal Training...More Info</button>
    </div>
    <div class="col-md-6">
      <button [routerLink]="['/online-coaching']" color="primary" mat-stroked-button>Online Coaching...More Info</button>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="col-md-12">
    <p class="blurb2">FIND US IN <span class="red-text">HUDDERSFIELD</span></p>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="./assets/maps_fake.png" alt="map" width="400px" height="300px"/>
    </div>
    <div class="col-md-6 left-align">
      <p>You can find us at Top Bodies Gym in Huddersfield.</p>
      <p>If you're serious about your training there is no better place in Huddersfield to get it done!</p>
      <p>Opening Times</p>
      <div class="row">
        <div class="col-md-12">
          <span>Mon - 6AM - 9PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Tue - 6AM - 9PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Wed - 6AM - 9PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Thu - 6AM - 9PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Fri - 6AM - 9PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Sat - 8AM - 3PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Sun - 8AM - 2PM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>(Opening times may be different on bank holidays)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="row">
    <div class="col-md-4">
      <h1>GET IN TOUCH</h1>
      <p>Personal Trainer in Kirklees</p>
      <p>Top Bodies Gym, Huddersfield</p>
      <p>Level 3 Personal Trainer</p>
      <p>ISSA Bodybuilding Specialist</p>
      <p>Certified</p>
    </div>
    <div class="col-md-4">
      <h1>TRAINING SERVICES</h1>
      <p>Personal Training Huddersfield</p>
      <p>1-2-1 Personal Training Sessions</p>
      <p>100% Custom nutrition Plans</p>
      <p>24/7 advice and supprt</p>
    </div>
    <div class="col-md-4">
      <h1>SOCIAL MEDIA</h1>
      <p>
        <fa-icon [icon]="faTwitter"></fa-icon>
      </p>
      <p>
        <fa-icon [icon]="faInstagram"></fa-icon>
      </p>
      <p>
        <fa-icon [icon]="faYoutube"></fa-icon>
      </p>
    </div>
  </div>
</div>
